<div class="col-xs-12">
    <p>Add new Servers or blueprints!</p>
    <label>Server Name</label>
    <!-- using local referance -->
    <input type="text" class="form-control" 
    #serverNameInput
    >
    <!-- two way data binding -->
    <!-- {{newServerName}} -->
    <label>Server Content</label>
    <!-- getting access to the template and DOM with @ViewChild -->

    <input type="text" class="form-control" #serverContentInput>
    <label for="serverType">Server Type</label>
    <select id="serverType" name="serverType" class="form-control" [(ngModel)]="newServerType">
      <option value="server" selected>Server</option>
      <option value="blueprint">Blueprint</option>
    </select>
    
    <br>
    <button
      class="btn btn-primary"
      (click)="onAddServer(serverNameInput)">Add Server</button>
  </div>