<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <p>Add new Servers or blueprints!</p>
      <label>Server Name</label>
      <input type="text" class="form-control" [(ngModel)]="newServerName">
      <!-- two way data binding -->
      <!-- {{newServerName}} -->
      <label>Server Content</label>
      <input type="text" class="form-control" [(ngModel)]="newServerContent">
      <label for="serverType">Server Type</label>
      <select id="serverType" name="serverType" class="form-control" [(ngModel)]="newServerType">
        <option value="server" selected>Server</option>
        <option value="blueprint">Blueprint</option>
      </select>
      
      <br>
      <button
        class="btn btn-primary"
        (click)="onAddServer()">Add Server</button>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <div
        class="panel panel-default"
        *ngFor="let element of serverElements">
        <div class="panel-heading">{{ element.name }}</div>
        <div class="panel-body">
          <p>
            <strong *ngIf="element.type === 'server'" style="color: red">{{ element.content }}</strong>
            <em *ngIf="element.type === 'blueprint'">{{ element.content }}</em>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
